<header>
  <h1>Curriculum vitae</h1>
</header>

<main>
  <aside class="photo">
    <img src="../views/tomasz-kopacki.jpg" title="Tomasz Kopacki">
  </aside>

  <section ng-repeat="section in sections">
    <header>
      <h3>{{ ::section.name }}</h3>
    </header>

    <article>
      <dl ng-if="section.type === 'dl'">
        <dt ng-repeat-start="member in section.members">{{ ::member.label }}</dt>
          <dd ng-repeat-end>{{ ::member.names.join('\n') }}</dd>
      </dl>
      <ul ng-if="section.type === 'ul'">
        <li ng-repeat="member in section.members">{{ ::member }}</li>
      </ul>      
    </article>
  </section>

</main>