<header class="cvHeader">
  <h1>{{ ::title }}</h1>
</header>

<section class="cvContent">
  <aside class="cvPhoto">
    <img src="../views/tomasz-kopacki.jpg" title="Tomasz Kopacki">
  </aside>

  <ul>
    <li class="cvSection" ng-repeat="section in sections">
      <header>
        <h3>{{ ::section.name }}</h3>
      </header>

      <article>
        <dl ng-if="section.type === 'dl'">
          <dt ng-repeat-start="member in section.members">{{ ::member.label }}</dt>
            <dd ng-repeat-end>{{ ::member.names.join('\n') }}</dd>
        </dl>
        <ul ng-if="section.type === 'ul'">
          <li ng-repeat="member in section.members">{{ ::member }}</li>
        </ul>      
      </article>
    </li>
  </ul>
</section>

<footer class="cvFooter">{{ ::note }}</footer>