@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.cvPage {
  width: 80%;
  background-color: #fff;
  margin: 2em auto;
  box-shadow: 4px 4px 20px 0px rgba(0,0,0,.5);

  * {
    box-sizing: border-box;
  }

  > * {
    width: 100%;
    padding: 0 4em;
  }

  .cvHeader {
    padding: 1em 0;

    h1 {
      text-align: center;
      margin: 0;
      font-size: 3em;
    }
  }

  .cvContent {
    > article {
      padding: 1em 0;    
    }

    .cvPhoto {
      @include make-sm-column(3);
      @include make-xs-column(12);

      img {
        margin: 0 auto 1em auto;
      }
    }

    .cvSections {
      list-style: none;
      padding: 0;

      .cvSection {
        padding-bottom: 1em;
        @include make-row();

        header {
          @include make-xs-column(12);
          border: 4px double #000;
          border-left: 0;
          border-right: 0;
          margin-bottom: 2em;

          h3 {
            margin: .5em;
          }
        }

        article {
          @include make-sm-column(9);
          @include make-xs-column(12);
        }

        dl {      
          dt:after {
            content: ':';
          }

        }
      }
    }
  }
  .cvFooter {
    font-style: italic;
    text-align: justify;
    padding-bottom:2em;
  }
}